@import '~bootstrap/scss/bootstrap';
@import './common';

//Button
.btn-font {
    color: $btn-font;
    font-size: 16px;
    font-family: 'subFont';
    font-weight: 300;
    text-align: center;
    justify-content: center;
}

.default-btn {
    background-color: $button-color;
    width: auto;
    height: 54px;
    border-radius: 50px;
    padding: 8px 25px 19px 25px;

}

.footer {
    background-color: #1A1A1A;
    bottom: 0;
    position: relative;
    width: 100%;
}